<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modelo en Scope</title>

    <script src="//code.angularjs.org/1.8.2/angular.min.js"></script>
  </head>
  <body ng-app="mvc" ng-controller="AlumnoController">
    <h1>Cuaderno alumnos</h1>
    <div>
      <!-- DIRECTIVE: ng-repeat -->
      <!-- for alumno in alumnos:  -->
      <div ng-repeat="alumno in alumnos | orderBy:'nombre'">
        <div>{{alumno.nombre}} - {{alumno.telefono}}</div>
        <span>{{alumno.curso}}</span>
      </div>
      <div ng-repeat="alumno in al.filteredAlumnos">
        <div>{{alumno.nombre}}</div>
      </div>
    </div>

    <script src="script.js" type="text/javascript"></script>
  </body>
</html>
