<div class="container">
  <h2>Mis tareas</h2>
  <!-- Todos input -->
  <form role="form" ng-submit="addTarea()">
    <div class="row">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          ng-model="tarea"
          placeholder="¿Que tarea queres guardar?"
        />
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Añadir" />
        </span>
      </div>
    </div>
  </form>
  <p></p>

  <!-- Todos lista -->
  <div ui-sortable ng-model="tareas">
    <p class="input-group lista" ng-repeat="tarea in tareas">
      <input type="text" ng-model="tarea" class="form-control" />
      <span class="input-group-btn">
        <button
          class="btn btn-danger"
          ng-click="eliminarTarea($index)"
          aria-label="Eliminar"
        >
          X
        </button>
      </span>
    </p>
  </div>
</div>
